/* Page Container */
#Library{
    margin-top: 5em;
    padding-top: 3rem;
    width: 100%;
    min-height: 100vh;
    background-image: url('./libraryBG.jpg');
    background-position: bottom;
    background-size: cover;
    z-index: 10;
}


/* Page Title */
.libraryTitle{
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: aliceblue;
    box-shadow: 0 0 1rem dimgray;
    background: hsla(200,70%,50%);
}


/* Library Entries */
#mediaList{
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
hr{
    border: 1px solid aliceblue;
    width: 50%;
}

/* Summary & Mascot Container */
.summaryBar{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* Mascot */
.Mascot.library .mascotCharacter{
    width: 16em;
}


/* Media Queries */
@media only screen and (max-width: 600px){
    .Mascot.library{
        width: 100%;
    }
    .Mascot.library .mascotCharacter{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-height: 500px){
    .Mascot.library{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape){
    #Library{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        width: calc(100% - 10rem);
        margin-left: 10rem;   
    }
}