/* Page Container */
#Library{
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;

    background-image: url('./libraryBG.jpg');
    background-position: bottom;
    background-size: cover;
}


/* Page Title */
.libraryTitle{
    width: fit-content;

    margin: 2rem;
    padding: 1rem;

    border-radius: 1rem;
    background: hsla(200,70%,50%);
    box-shadow: 0 0 1rem dimgray;

    text-align: center;
    color: aliceblue;
}


/* Library Entries */
#mediaList{
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
hr{
    border: 1px solid aliceblue;
    width: 50%;
}

/* Summary & Mascot Container */
.summaryBar{

    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

@media only screen and (max-height: 500px) and (orientation: landscape){
    #Library{
        align-items: center;
        margin-top: 0;
        padding-top: 60;
        width: 100%;
    }
}