/* WRAP */
.libraryBottom{
    position: relative;
    /* Position & Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* Size */
    width: 100%;
    height: fit-content;
}
.libraryBottomBG{
    overflow: hidden;
    width: 100%;
    height: fit-content;
}
#libraryBottom{
    width: 100%;
    height: auto;
    object-position: bottom;
    content: url('./libraryBottom.jpg');
}

.penguinWrap{
    position: absolute;
    width: 30%;
    height: fit-content;
}
.penguinWrap img{
    width: 100%;
    height: auto;
}

/* SMALL SCREENS */
/* Portrait */
@media only screen and (max-width: 600px){
    .penguinWrap{
        width: 40%;
    }
    #libraryBottom{
        content: url('./libraryBottomPortrait.jpg');
    }
}
