html,body,#root{
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', serif;
    background-color: #2BD9FE;
}

h1,h2,h3,p,button,table, label{
    font-family: 'Quicksand', sans-serif;
}
html { 
    font-size: 100%;
    line-height: 1.5em;
 } /*16px*/
h1 { 
  font-size: 1.5em;
  font-weight: 700;
 }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
p,input,label {
    font-size: 1em;
    line-height: 1.5em;
}

/* Buttons */
button{ font-size: 1em;}
button:hover{
  transform: scale(1.1);
}
button:hover:after{
  transform: scale(1.1);
}
button:active{
  animation-name: click;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes click{
  from {
    transform: scale(1.1);
  } to {
    transform: scale(0.9);
  }
}
Link,a{
  text-decoration: none;
}

/* Media Queries */
@media screen and (min-width: 1400px) {
  html { font-size: 125%; } /*20px*/
}

@media screen and (min-width: 2500px) {
    html { font-size: 200%; } /*20px*/
  }

@media screen and (min-width: 3500px) {
    html { font-size: 300%; } /*20px*/
  }

@media screen and (min-width: 4500px) {
html { font-size: 350%; } /*20px*/
}