.mediaListEntry{
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Size */
    width: 20em;
    height: fit-content;
    padding: 0.5em;
    margin: 1em;
    /* Border & Background */
    border-radius: 1em;
    border: 0;
    box-shadow: 0 0 2rem hsla(0,0%,0%,1);
    background: hsla(200,30%,80%,0.5);
    background: linear-gradient(180deg, hsla(200,70%,90%,0.5) 0%, hsla(200,70%,60%, 0.5) 100%);
    /* Animation */
    animation: slowShrinkPulse 5s infinite linear;
}
@keyframes slowShrinkPulse {
    50%{
        transform: scale(0.95);
    }
}
.mediaListEntry:hover{
    animation: none;
    background: hsla(200,30%,80%);
    background: linear-gradient(180deg, 
        hsla(200,70%,90%) 0%,
         hsla(200,70%,60%) 100%);
}



/* Book Graphic */
.mediaGraphic{
    width: 95%;
    margin: auto;
    margin-bottom: 0.5em;
}
.mediaGraphic img{
    width: 95%;
    border-radius: 1rem;
    border: 0.25rem solid white;
}

/* Text Box */
#summaryMediaDets{
    /* Size */
    width: 80%;
    margin: 0;
    padding: 0.5rem;
    /* Background */
    background: hsla(200,30%,80%, 0.7);
    background: linear-gradient(180deg, 
        hsla(200,70%,70%, 0.7) 0%, 
        hsla(200,70%,45%, 0.7) 100%);
    /* Animation */
    animation: none;
}
.mediaTitle{
}
#summaryMediaDets hr{
    border-bottom: 0.15rem solid white;
    box-shadow: 0rem 0.1rem 0.25rem dimgray;
}

/* Small Screen Landscape */
@media only screen and (max-height: 500px) and (orientation: landscape){
    .mediaListEntry{
        width: min-content;
        height: fit-content;
    }
    .mediaDets{
        width: 10rem;
    }
    .mediaGraphic{
        height: 60vh;
        width: fit-content;
        margin-bottom: 1rem;
    }
    .mediaGraphic img{
        height: 100%;
        width: auto;
    }
    .mediaDets{
        margin: auto 1rem;
    }
}
/* Small Screen Portrait */
@media only screen and (max-width: 400px){
    .mediaListEntry{
        width: 85%;
        margin: 0 auto 2rem auto;
    }
}