/* Wrap */
.Mascot.congrats{
    /* Sizing */
    --penguinBody-width: 5vw;
    width: 100%;
    height: fit-content;
    /* Position */
    position: relative;
    right: 0;
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem;
}

/* Character Wrap */
.Mascot.congrats .mascotCharacter{
    position: relative;
    animation: wiggleHop 1s infinite linear;
}

/*Speech Bubble */
.Mascot.fluff.congrats .speechBubble{
    /* Position */
    position: relative;
    right: 15vw;
    left: -5vw;
    /* animation */
    animation: speechWiggle 1s infinite linear;
}

/* Character Image Layers */
.Mascot.congrats .mascotCharacter img{
    position: absolute;
}
.Mascot.congrats #fluffBody{
    right: 0;
    bottom: 0;
}
.Mascot.congrats #fluffLeftArmTop{
    content: url('./fluff/fluff_1d.png');
    right: calc( var(--penguinBody-width) / 1.75);
    transform: rotate(90deg);
    animation: leftArmWiggle 0.5s infinite linear;
    bottom: calc( var(--penguinBody-height) / 2 );
}
.Mascot.congrats #fluffRightArmTop{
    content: url('./fluff/fluff_1e.png');
    position: absolute;
    left: calc( var(--penguinBody-width) / 1.5);
    transform: rotate(-45deg);
    animation: rightArmWiggle 0.5s infinite linear;
    bottom: calc( var(--penguinBody-height) / 2.35 );
}



/* HOVER ANIMATIONS */
/* Character Container */
.Mascot.congrats:hover #congratsPenguin{
    animation: wiggleJump 0.7s linear infinite;
}
/* Left Arm */
.Mascot.congrats:hover #fluffLeftArmTop{
    animation: leftArmWiggleJump 0.35s linear infinite;
}
/* Right Arm */
.Mascot.congrats:hover #fluffRightArmTop{
    animation: rightArmWiggleJump 0.35s ease-in-out infinite;
}
/* Speech Bubble */
.Mascot.congrats:hover .speechBubble{
    animation: speechWiggleJump 0.7s linear infinite;
}



/* ANIMATIONS */
/* Default Anmiations */
@keyframes wiggleHop {
    25% {
        transform: translate(10%,-5%) rotate(5deg);
    }
    0%, 50%, 100%{
        transform: translate(0%,0%) rotate(0deg) scaleY(0.95);
    }
    75% {
        transform: translate(-10%,-5%) rotate(-5deg);
    }
}
@keyframes leftArmWiggle{
    50%{
        transform: rotate(50deg) translate(20%,10%);
    }
}
@keyframes rightArmWiggle{
    50%{
        transform: rotate(-70deg) translate(20%,0%);
    }
}
@keyframes speechWiggle{
    25%{
        transform: translateX(10%)
    }
    0%,50%,100%{
        transform: translate(0%);
    }
    75%{
        transform: translateX(-10%);
    }
}

/* Hover Anmiations */
@keyframes wiggleJump {
    25% {
        transform: translate(10%,-10%) rotate(5deg);
    }
    0%, 50%, 100%{
        transform: translate(0%,0%) rotate(0deg) scaleY(0.95);
    }
    75% {
        transform: translate(-10%,-10%) rotate(-5deg);
    }
}
@keyframes leftArmWiggleJump{
    50%{
        transform: rotate(50deg) translate(20%,10%);
    }
}
@keyframes rightArmWiggleJump{
    50%{
        transform: rotate(-70deg) translate(20%,0%);
    }
}
@keyframes speechWiggleJump{
    25%{
        transform: translateX(10%) translateY(-10%);
    }
    0%,50%,100%{
        transform: translate(0%);
    }
    75%{
        transform: translateX(-10%) translateY(-10%);
    }
}

@media only screen and (orientation: portrait){
    .Mascot.congrats{
        --penguinBody-width: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        height: fit-content;
    }
    .Mascot.congrats .mascotCharacter{
        position: relative;
    }
    .Mascot.fluff.congrats .speechBubble{
        position: relative;
        left: 0;
    }
}