.TopNav{
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Size */
    width: 100%;
    height: fit-content;
    padding-bottom: 0.25rem;
    /* Background & Border */
    background-color: white;
    border-bottom: 0.5rem solid #52AA5E;
}

.logoWrap{
    margin: 0.5rem;
    width: 12em;
    padding: 0.25rem;
}

.logoWrap img{
    width: 95%;
}

.topButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*

@media only screen and (max-width: 450px){
    .TopNav{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .navButtons{
        width: fit-content;
        margin-right: 0;
    }
    .logo{
        height: fit-content;
    }
    .logo img{
        width: 90%;
        height: auto;
    }
}

*/