/*  Container  */
.NarrationControl{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Size */
    height: 100%;
    padding: 0.25rem;
    margin: 0.5rem;
}

/* Button Container */
.narrControls{
    display: inline-flex;
    align-items: center;
}

/* CONTROL BUTTONS */

/* Active Buttons */
.playButton, .pauseButton, .replayButton{
    display: inline-flex;
    margin: 0.25rem;
    box-shadow: 0 0 0.5rem;
}
.playButton{
    padding: 0.4rem 0.4rem 0.4rem 0.6rem;
}
.pauseButton{
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}
.replayButton{
    padding: 0.5rem 0.6rem 0.5rem 0.4rem;
}
/* Disabled Buttons */
.playButton.disabled, .pauseButton.disabled, .replayButton.disabled{
    background: hsla(200,0%,80%);
    background: linear-gradient(180deg, 
        hsla(200,0%,80%) 0%, 
        hsla(200,0%,50%) 100%);
    border-color:  hsl(200,0%,70%);
    box-shadow: none;
}

/* CONTROL BUTTON SYMBOLS */

/* Play Button Symbol */
/* Active */
.playSymbol{
    width: 0; 
    height: 0; 
    margin: 0;

    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 1em solid white;
}
/* Disabled */
.playButton.disabled .playSymbol{
    border-left-color: dimgray;
}

/* Pause Button Symbol */
/* Active */
.pauseSymbol{
    background-color: white;
    width: 0.3em; 
    height: 1em; 

    margin: 0.1rem;
}
/* Disabled */
.pauseButton.disabled .pauseSymbol{
    background-color: dimgray;
}

/* Replay Symbol */
/* Active */
.replaySymbolBar{
    background-color: white;
    width: 0.3em; 
    height: 1em; 
    margin: 0rem;
}
.replaySymbolTriangle{
    width: 0; 
    height: 0; 
    margin: 0;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 1em solid white;
}
/* Disabled */
.replayButton.disabled .replaySymbolBar{
    background-color: dimgray;
}
.replayButton.disabled .replaySymbolTriangle{
    border-right-color: dimgray;
}