.LibraryReadBy{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem;

    border-radius: 1rem;
    background-color: hsla(0,0%,0%,0.1);
    color: white;
    box-shadow: 0 0 1rem;
}

.readByContent{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.libReadByPhoto{
    width: 50%;
}
.libReadByPhoto img{
    width: 90%;
    height: auto;
    border-radius: 100%;
    margin-right: 1rem;
    border: 0.2rem solid aliceblue;

    background: hsl(128,35%,45%);
    background:linear-gradient(180deg, hsl(128,45%,60%) 0%, hsl(128,25%,45%) 100%);
}
.libReadByName{
    text-align: center;
}
