/* Containers */
.ReaderControlBar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    
    
}
.mobileTop{
    display: flex;
    align-items: center;
}
.transNarrCont{
    width: 100%;
    display: flex;
    align-items: center;
}

/* Buttons */
.readTranslate{
    position: static;
    padding: 0.5rem;
}
.close.reader{
    position: static;
    margin: 0.5rem;
}
#mobileClose{
    display: none;
}

@media only screen and (max-width: 800px){
    .ReaderControlBar{
        display: flex;
        flex-direction: column;
    }
    .mobileTop{
        width: 100%;
        justify-content: flex-start;
    }
    .transNarrCont{
        width: calc(100% - 5rem);
        justify-content: space-evenly;
        flex-direction: row-reverse;
        
    }
    #mobileClose{
        display: block;
        position: absolute;
        right: 1rem;
    }
    #standardClose{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .mobileTop{
        justify-content: center;
        align-items: flex-start;
    }
    .transNarrCont{
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }
}

@media only screen and (max-width: 350px){
    .mobileTop{
        flex-direction: column-reverse;
        align-items: center;
    }
    #mobileClose{
        position: static;
    }
}