.Summary{
    position: relative;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;

    background: hsla(200,30%,80%);
    background: linear-gradient(180deg, hsla(200,70%,90%) 0%, hsla(200,70%,60%) 100%);

    border-radius: 1rem;
    box-shadow: 0rem 1rem 2rem hsla(0,0%,0%,0.5);

    animation-name: slide-in;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.54,.88,.76,.94);
}
@keyframes slide-in{
    from {
        right: 100vw;
    } to {
        right: 0vw;
    }
}

.summaryBody{
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.summaryRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
/* SUMMARY TEXT */
.summaryText{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
    margin: auto;
    border-radius: 1rem;
    text-align: center;
}
.summaryTitleAuthor{
    width: 80%;
    background-color: hsla(200,70%,100%,0.3);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.summaryTitle{
    margin: 0.1em auto;
    font-weight: bold;
}
.summaryDesc{
    margin-bottom: 1rem;
    background-color: hsla(200,70%,100%,0.3);
    border-radius: 1rem;
    padding: 1rem;
}
/* SUMMARY GRAPHIC */
.summaryGraphic{
    margin: 1em;
    height: 30em;
}
.summaryGraphic img{
    height: 100%;
    width: auto;
    border-radius: 1rem;
    border: 0.25rem solid white;
    box-shadow: 0 0 1rem dimgray;
}

@media only screen and (max-width: 825px){
    .Summary{
        width: min-content;
    }
}

@media only screen and (max-width: 600px){
    .Summary{
        width: 80%;
    }
    .summaryGraphic{
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }
    .summaryGraphic img{
        width: 100%;
        height: auto;
    }
    .summaryRight{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .summaryText{
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape){
    .Summary{
        width: min-content;
    }
    .summaryGraphic{
        height: 90vh;
        width: fit-content;
    }
    .summaryGraphic img{
        height: 100%;
        width: auto;
    }
}


