/* Full Screen BG Container */
#complete{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 6;
}

/* Congrats Window */
.completeWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5rem solid white;
    background-color: lightgreen;
}

/* Option Buttons Container */
.congratsOptions{
    width: 100%;
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 600px){
    .completeWindow{
        width: 80%;
    }
    h1{
        font-size: 1.5rem;;
    }
}
@media only screen and (max-height: 600px) and (orientation: landscape){
    .completeWindow{
        height: 80%;
        justify-content: space-between;
    }
}