#prevPage{
    position: relative;
    z-index: 5;
    height: fit-content;
    border-radius: 100%;
    left: 0;
    top: 50%;
}
.prevPageSymbol{
    width: 0; 
    height: 0; 
    margin: 0 0.4rem 0 0;

    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 2em solid white;
}
#prevPage.disabled{
    background: hsla(200,0%,80%);
    background: linear-gradient(180deg, 
        hsla(200,0%,80%) 0%, 
        hsla(200,0%,50%) 100%);
    border-color:  hsl(200,0%,70%);
    box-shadow: none;
}
#prevPage.disabled .prevPageSymbol{
    border-right-color: dimgray;
}

@media only screen and (max-width: 500px){
    #prevPage{
        position: fixed;
    }
}