.ReaderPages{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pageImg{
    border: 0.5rem solid white;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem hsla(0,0%,0%,0.3);
}
.pageImgFrame{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
/* WIDE DISPLAY */
.pageImgFrame.tall{
    height: 85vh;
}
.pageImgFrame.tall img{
    max-height: 100%;
    width: auto;
}

/* TALL DISPLAY */
.pageImgFrame.wide{
    width: 100%;
}
.pageImgFrame.wide img{
    width: 95%;
    height: auto;
}

#loading{
    position: absolute;
    display: none;
    width: 4rem;
    height: 4rem;
    background-color: hsla(0,0%,100%,0.6);
    padding: 0.5rem;
    margin: 0;
    border-radius: 100%;
    line-height: 1.5em;
    text-align: center;

    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#loading img{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 600px){
    .pageImgFrame.tall{
        width: 100%;
        height: fit-content;
    }
    .pageImgFrame.tall img{
        width: 100%;
        height: auto;;
    }
}

@media only screen and (max-width: 500px){
    .ReaderPages{
        width: 100%;
    }
}