.ReaderPages{
    width: 80%;
    height: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
/*
    animation-name: slide-up;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.54,.88,.76,.94);
    */
}

/* Page Image & Container */
.pageImgFrame{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#pageImg{
    border: 0.5rem solid white;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem hsla(0,0%,0%,0.3);
}

/* Tall Pages */
.pageImgFrame.tall{
    height: 75vh;
}
.pageImgFrame.tall img{
    max-height: 100%;
    width: auto;
}

/* Wide Pages */
.pageImgFrame.wide{
    width: 100%;
}
.pageImgFrame.wide img{
    width: 80%;
    height: auto;
}

/* Translation */
.translatedText{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Size */
    margin-bottom: 1rem;
    padding: 0.5rem;

}
.translatedText p{
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.readerPageAndTranslation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animations */
@keyframes slide-up{
    from {
        margin-top: 100vh;
    } to {
        margin-top: 0vh;
    }
}

/* Media Queries */
@media only screen and (max-width: 600px){
    .ReaderPages{
        width: 60%;
    }
    .pageImgFrame.tall{
        width: 80%;
        height: fit-content;
    }
    .pageImgFrame.tall img{
        width: 100%;
        height: auto;;
    }
}

@media only screen and (max-width: 500px){
}