/* APP GLOBAL */
.App {
  height: 100%;
  width: 100%;
  font-weight: 400;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
}

/*  PAGE CONTENT */
.pageContent{
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 6rem;
}

@media only screen and (max-width: 450px){
  .pageContent{
    top: 0;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape){
  .pageContent{
    flex-direction: column;
    top: 0;
    left: 11rem;
    width: calc(100% - 11rem);;
  }
}