/* APP GLOBAL */
.App {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;

  height: 100%;
  width: 100%;
  font-weight: 400;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*  PAGE CONTENT */
.pageContent{
  /* Position */
  position: relative;
  top: 0;
  /* Display */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 100%;
  
  z-index: 1;
}
/*
@media only screen and (max-height: 500px){
  .App{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;

    flex-direction: row;
  }
}
*/