/* Full Page Container */
.Splash{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    width: 100%;
    height: 100%;
    
    /* background-image: url('./splashBG.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}
.splashElements{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    width: fit-content;
}
.splashBG{
    position: absolute;
    left: 0;
    height: 100%;
    width: fit-content;
}
.splashBG img{
    height: 100%;
    width: auto;
}