/* Full Page Container */
.Splash{
    /* Position */
    position: relative;
    overflow: hidden;
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Size */
    width: 100%;
    height: 100%;
}